<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1><%-listBooking[0].CustomerName%></h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Rated movies</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="/images/uploads/tom.jpg" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li><a href="/user/profile">Profile</a></li>
							
							<li class="active"><a href="/user/bookinghistory">Booking History</a></li>
                            <li><a href="#">Favorite movies</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a href="#">Change password</a></li>
							<li><a href="#">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span><%-listBooking.length%></span> in total</p>
					
				</div>
                <% listBooking.forEach(list =>{  %> 
				<div class="movie-item-style-2 userrate">
					<img src="<%-list.Poster%>" alt="">
					<div class="mv-item-infor"> 
                        <%fullDateB = new Date(list.BookingTime)
                        bookingDate = fullDateB.getDate();
                        bookingMonth = fullDateB.getMonth() + 1;
                        BookingYear = fullDateB.getFullYear();
                        fullBookingDate = bookingDate + "/" + bookingMonth + "/" + BookingYear;

                        fullDateS = new Date(list.DateTimeFrom)
                        StartDate = fullDateS.getDate();
                        StartMonth = fullDateS.getMonth() + 1;
                        StartYear = fullDateS.getFullYear();
                        fullDateShow = StartDate + "/" + StartMonth + "/" + StartYear;

                        StartSecond = fullDateS.getSeconds();
                        StartMinute = fullDateS.getMinutes() ;
                        StartHours = fullDateS.getHours() ;
                        if(StartMinute < 10){
                            StartMinute = "0" + StartMinute ;
                        }
                        if(StartSecond < 10){
                            StartSecond = "0" + StartSecond;
                        }
                        if(StartHours < 10){
                            StartHours = "0" + StartHours
                        }
                        fullTimeShow = StartHours + ":" + StartMinute + ":" + StartSecond;
                        %>
                        <h6><a href="#"style="font-size: 20px;">Booking Date : <%-fullBookingDate%> </a></h6>
						<p><a href="#" style="font-size: 17px;">Movie name : <%- list.MovieName%> </a></p>
                        <div>
                            <p  class="booking-history"style="font-size: 15px;">Cinema: <b><%-list.CinemaName %></b> </p>
                            <p  class="booking-history">Cinema Address : <b><%-list.CinemaAddress %></b> </p>
                            <p class="booking-history">Your seat : <b><%-list.SeatList%></b> </p>
                            <p class="booking-history">Date Start : <b><%-fullDateShow%></b>  </p>
                            <p class="booking-history">Time Start : <b> <%-fullTimeShow%></b> </p>
                            <p  class="booking-history">Total Money : <b><%-list.TotalMoney%> VNĐ</b> </p>
                        </div>
                      
					
					
					</div>
				</div>
            <%})%>
				
			</div>
		</div>
	</div>
</div>