<div class="hero common-hero">
	<div class="container">
		
				<div class="hero-ct">
					<h1><%-title %></h1>
				</div>
	
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div id="ListGhe">
					<% key=0 %>
						<%for(i=0;i < room[0].RowSeats;i++){ %>
							<%for(j=0;j < room[0].ColumnSeats;j++){ %>
								<%if(listGhe[key].SeatStatus == 1){ %>
									<button class= "btnGhe AnGhe"><%-listGhe[key].SeatName%></button>
								<%}else{ %> 
									<button class= "btnGhe" value="<%-listGhe[key].SeatName%>"><%-listGhe[key].SeatName%></button> 
								<% } key ++ ;%>
						  <%}%>
						  <br>
					<% }%>
					
				</div>	
			</div>

			

			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
					
				
						<form class="form-style-1" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<h1 style="color: cornsilk;text-align: center; font-family: ui-serif;margin-bottom: 15px;"><%-phim[0].MovieName%></h1>
								<img src="/<%-phim[0].Poster%>" alt="" style="width:265px; height: 320px;">
									
								</div>
								<div class="col-md-12 form-it">
									<div>Cinema name : <%-rap[0].CinemaName%></div>
									
								</div>
								<div class="col-md-12 form-it">
									<div>Address : <%-rap[0].CinemaAddress%></div>
									
								</div>
								<div class="col-md-12 form-it">
									<% 
									StartTime = new Date(suatchieu[0].DateTimeFrom);
									startHours= StartTime.getHours(); 
									startMinutes= StartTime.getMinutes(); 
									startSeconds= StartTime.getSeconds(); 
									if(startSeconds < 10){
										startSeconds = "0" + startSeconds;
									}
									if(startMinutes < 10){
										startMinutes = "0" + startMinutes ;
									}
									
									if(startHours < 10){
										startHours = "0" + startHours
									}
									FullTimeStart = startHours + ":" + startMinutes+ ":" + startSeconds 

									

									EndTime = new Date(suatchieu[0].DateTimeTo);
									EndHours= EndTime.getHours(); 
									EndMinutes= EndTime.getMinutes(); 
									EndSeconds= EndTime.getSeconds(); 

									if(EndMinutes < 10){
										EndMinutes = "0" + EndMinutes ;
									}
									if(EndSeconds < 10){
										EndSeconds = "0" + EndSeconds;
									}
									if(EndHours < 10){
										EndHours = "0" + EndHours
									}
									FullTimeEnd = startHours + ":" + startMinutes+ ":" + startSeconds 
									%>
									<div>Time start : <%-FullTimeStart%> - <%-FullTimeEnd%></div>
								</div>
								<div class="col-md-12 form-it">
								<%
								fullTimeDate = new Date(suatchieu[0].DateTimeFrom);
									date= fullTimeDate.getDate(); 
									month= fullTimeDate.getMonth(); 
									year= fullTimeDate.getFullYear(); 
									FullDate = date + "/" + month+ "/" + year 
									%>

									<div>Date start  :  <%-FullDate%></div>
								<input type="hidden" value="<%-FullDate%>" id="dcNgayChieu">
								<input type="hidden" value="<%-FullTimeStart%>" id="dcGioChieu">
								<input type="hidden" id="idSuatChieu" value="<%-suatchieu[0].ShowTimeISN%>">
								<input type="hidden" id="dcTenRap" value="<%-rap[0].CinemaName%>">
								<input type="hidden" id="dcTenPhim" value="<%-phim[0].MovieName%>">
								</div>
								<div class="col-md-12 form-it">
									<input type="hidden" value="<%-suatchieu[0].TicketPrice%>" id="Tien">
									<input type="hidden" value="0" id="SetTongTien">
									<div style="display: flex;">Total money : <p id="TongTien">0</p></div>
								</div>
								<div class="col-md-12 ">
									<!-- Button trigger modal -->
									<button class="btnDatCho" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
										Booking
									</button> 
								</div>
									
									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel" style="font-size: 22px;">Choose Payment method, please</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
											<button id="PayAtCounter">Pay at counter</button>
											<hr>
											<h5>Pay online by </h5>
											<button id="PayByPaypal"><i class="fa fa-paypal"></i> <b style="color: darkblue;">Pay</b><b style="color: darkcyan;"></b>pal</button>
											
											<button id="PayBymomo"><b>momo</b></button>
											<a href="/momo">momo</a>
											</div>
											<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											
											</div>
										</div>
										</div>
									</div>



							</div>
						</form>
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="">
					</div>
				</div>
			</div>



		</div>
	</div>
</div>