<div class="slider sliderv2">
	<div class="container">
		<div class="row">
	    	<div class="slider-single-item">
	    		<div class="movie-item">
	    			<div class="row">
						<img src="images/uploads/cinema-5.jpg" alt="" style="width: 90%; margin: auto;height: 500px; border-radius: 5px;    border: 2px solid;opacity: 0.7;" >
	    			</div>	
	    		</div>
	    		<div class="movie-item">
	    			<div class="row">
	    
							<img src="images/uploads/cinema-7.jpg" alt=""style="width: 90%; margin: auto;height: 500px;border-radius: 5px;    border: 2px solid;opacity: 0.7;">
			    			
	    			</div>	
	    		</div>
			
	    	</div>
	    </div>
	</div>
</div>
<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-12">
			<div class="title-hd">
				<h2>NEW MOVIE PREMIERE</h2>
				<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<ul class="tab-links">
					<li class="active"><a href="#tab1-h2">list</a></li>                     
				</ul>
			    <div class="tab-content">
			        <div id="tab1-h2" class="tab active">
			            <div class="row">
			            	<div class="slick-multiItem2">
								<% listMoviemoi.forEach(list => { %>
									<div class="slide-it">
										<div class="movie-item">
											<div class="mv-img">
												<img src="/images/uploads/<%=list.movieisn%>/<%= list.poster %>" style="width:223px;height:288px">
											</div>
											<div class="hvr-inner">
												<a  href="/home/movie/detailMovie?id=<%-list.movieisn%>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
											</div>
											<div class="title-in">
												<h6><a href="#"><%-list.moviename%></a></h6>
												<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
											</div>
										</div>
									</div>
								<%})%>
			            	</div>
			            </div>
			        </div>
			    
			    </div>
			</div>
			<div class="title-hd">
				<h2>Most watched movies</h2>
				<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
				<ul class="tab-links-2">
					<li class="active"><a href="#tab21-h2">List</a></li>                      
				</ul>
			    <div class="tab-content">
			        <div id="tab21-h2" class="tab active">
			            <div class="row">
			            	<div class="slick-multiItem2">
								<%listPDXN.forEach(list=>{%>
			            		<div class="slide-it">
			            			<div class="movie-item">
				            			<div class="mv-img">
				            				<img src="/images/uploads/<%=list.movieisn%>/<%= list.poster %>" style="width:223px;height:288px">
				            			</div>
				            			<div class="hvr-inner">
				            				<a  href="/home/movie/detailMovie?id=<%-list.movieisn%>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
				            			</div>
				            			<div class="title-in">
				            				<h6><a href="#"><%-list.moviename%></a></h6>
				            				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				            			</div>
				            		</div>
			            		</div>
							<%})%>
			            	</div>
			            </div>
			        </div>


			       
			    </div>
			</div>
		</div>
	</div>
</div>


