<div class="hero mv-single-hero">
	
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="/<%-detailPhim[0].Poster%>" alt="">
                    
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="<%-detailPhim[0].Trailer%>" class="item item-2 redbtn fancybox-media hvr-grow" ><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
							<div><button type="button" class="btn btn-primary item item-2 yellowbtn"   data-toggle="modal" data-target="#exampleModal">
								<i class="ion-card" > </i>    
							  </button></div>
						


							  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document" style="width:1305px;">
								  <div class="modal-content" style="background-color: #020d18;">
									<div class="modal-header">
									  <h5 class="modal-title" id="exampleModalLabel">Đặt vé</h5>
									  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
									<div class="modal-body" style="text-align: left;">
										
											<p>
												<ul class="listDate">
													<%date.setDate(date.getDate() - 1 ) %>
													<% for (var i =0; i <=10;  i++ ) { %>
															<li style="display: inline;">
																<%date.setDate(date.getDate() + 1 ) %>
																<button class="btnDate" value="<%-date%>" > 
															
															<strong class="date"><%-date.getDate() ;%></strong>	
															<% k = date.getMonth() %>
															<%if(k == 0){%>
																<span class="day">Tháng 1</span>  
																<%} else if(k == 1){ %>
																<span class="day">Tháng 2</span> 
																<%}else if(k == 2){ %>
																<span class="day">Tháng 3</span> 
																<%} else if(k == 3){ %>
																<span class="day">Tháng 4</span> 
																<%} else if(k == 4){ %>
																<span class="day">Tháng 5</span> 
																<%} else if(k == 5){ %>
																<span class="day">Tháng 6</span> 
																<%} else if (k == 6){ %>
																<span class="day">Tháng 7</span> 
																<%}else if(k == 7){ %>
																	<span class="day">Tháng 8</span> 
																	<%} else if(k == 8){ %>
																	<span class="day">Tháng 9</span> 
																	<%} else if(k == 9){ %>
																	<span class="day">Tháng 10</span> 
																	<%} else if(k == 10){ %>
																	<span class="day">Tháng 11</span> 
																	<%} else if (k == 11){ %>
																	<span class="day">Tháng 12</span> 
																	<%}%>
															

															<%  x = date.getDay() %>
															<%if(x == 0) {%>
															<em class="day">Thứ 2</em>  
															<%} else if(x == 1){ %>
															<em class="day">Thứ 3</em> 
															<%}
															 else if(x == 2){ %>
															<em class="day">Thứ 4</em> 
															<%} else if(x == 3){ %>
															<em class="day">Thứ 5</em> 
															<%} else if(x == 4){ %>
															<em class="day">Thứ 6</em> 
															<%} else if(x == 5){ %>
															<em class="day">Thứ 7</em> 
															<%} else if (x == 6){ %>
															<em class="day">Chủ nhật</em> 
															<%}%>

															
															  </button>
															</li>
															  <% } %>
														</ul>
														<script>
															  var header = document.getElementById("listDate");
															var btns = header.getElementsByClassName("btnDate");
															for (var i = 0; i < btns.length; i++) {
																btns[i].addEventListener("click", function() {
																var current = document.getElementsByClassName("active");
																current[0].className = current[0].className.replace(" active", "");
																this.className += " active";
																});
															}
														</script>
											</p>
										
									
												<hr>
							
												<p id="ListCumRap"> </p>
												<hr>

											<div id="ListRap">
												
											</div>	
											<p ></p>
												<hr>
												
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>

								  </div>
								</div>
							  </div>
			
						
						</div>
					</div>
				</div>
			</div>

	
			  
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd"><%-detailPhim[0].MovieName%></h1>
					<input type="hidden" value="<%-detailPhim[0].MovieISN%>" id="idPhim">
					<div class="social-btn" style="height: 138px;color: #faf9f6;align-items: flex-start;height: 181px;margin-bottom: 0px;">
						<%-detailPhim[0].Plot%>
					</div>
				
					<div class="movie-tabs">
						<div class="tabs">
						
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            	
											<div class="title-hd-sm">
												<h4 style="font-size: 21px;">over view</h4>
											</div>
										
											<div class="sb-it">
						            			<h6>Director:   <%-detailPhim[0].Director%></h6>
						            			
						            		</div>
						            		
						            		<div class="sb-it">
						            			<h6>KindOfMovie: <%-detailPhim[0].KindOfMovie%></h6>
						            			
						            		</div>
						
											<div class="sb-it">
						            			<h6>Country: <%-detailPhim[0].Country%></h6>
						            		
						            		</div>
						            		<div class="sb-it">
												<%FullDate = new Date(detailPhim[0].Premiere)%>
												<%date = FullDate.getDate();
												month =  FullDate.getMonth() + 1;
												year = FullDate.getFullYear();	
												%>
						            			<h6>Premiere: <%-date%>/<%-month%>/<%-year%></h6>
												
						            			
						            		</div>
						            	</div>
						            	
						            </div>
						        </div>
						        
						       
					       	 
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>